<div class="container" id="app">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total requests</h5>
                    <div class="card-text">
                        <h3 class="totalRequest">{{ analytics.totalRequest }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Average response time</h5>
                    <div class="card-text">
                        <h3 class="averageResponseTime">{{ analytics.averageResponseTime }} seconds</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Busiest days of the week</h5>
                    <div class="card-text">
                        <h3 class="requestPerDay">
                            {{toJson analytics.requestPerDay.[0]._id}} ({{toJson
                            analytics.requestPerDay.[0].numberOfRequests }} requests)
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Busiest hours of day</h5>
                    <div class="card-text">
                        <h3 class="requestPerHour">
                            {{ toJson analytics.requestPerHour.[0]._id }} ({{ toJson
                            analytics.requestPerHour.[0].numberOfRequests }} requests)
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Most visited routes</h5>
                    <div class="card-text">
                        <h3 class="statsPerRoute">
                            {{toJson analytics.statsPerRoute.[0]._id.method }} {{toJson
                            analytics.statsPerRoute.[0]._id.url }} ({{toJson
                            analytics.statsPerRoute.[0].numberOfRequests }} requests)
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>