{{{toJson example}}}
<div class="container" id="app">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total requests</h5>
                    <div class="card-text">
                        <h3>{{ analytics.totalRequest }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Average response time</h5>
                    <div class="card-text">
                        <h3>{{ analytics.averageResponseTime }} seconds</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Busiest days of the week</h5>
                    <div class="card-text" >
                        <h3>
                                {{toJson analytics.requestPerDay.[0]._id}} ({{toJson
                                analytics.requestPerDay.[0].numberOfRequests }} requests)
                            
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Busiest hours of day</h5>
                    <div class="card-text">
                        <h3>
                                {{ toJson analytics.requestPerHour.[0]._id }} ({{ toJson
                                analytics.requestPerHour.[0].numberOfRequests }} requests)
                            
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Most visited routes</h5>
                    <div class="card-text">
                        <h3>
                                {{toJson analytics.statsPerRoute.[0]._id.method }} {{toJson analytics.statsPerRoute.[0]._id.url }} ({{toJson analytics.statsPerRoute.[0].numberOfRequests }} requests)
                        
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
    <script>

        const pusher = new Pusher('4e5c9b8f211ca6c1af8d', { cluster: 'ap2' });

        pusher.subscribe('analytics')
            .bind('updated', (data) => {
                console.log(data.analytics);
            })
    </script>